#tag::micronaut[]
micronaut:
  server:
    cors:
      enabled: true
      configurations:
        ui:
          allowed-origins:
            - http://localhost:3000
          allowed-methods: GET,POST,PUT,DELETE,OPTIONS
          allowed-headers: "*"
          allow-credentials: true
  security:
    intercept-url-map:
      - pattern: /v3/api-docs/**
        access: isAnonymous()
      - pattern: /health
        access: isAnonymous()
  endpoints:
    health:
      enabled: true
      sensitive: false
      details:
        enabled: true
#end::micronaut[]

#tag::jaeger[]
tracing:
  jaeger:
    sampler:
      probability: 1
#end::jaeger[]

#tag::logging[]
logging:
  level:
    com.posadskiy.email.template: ${LOG_LEVEL_APP:DEBUG}
    io.micronaut: ${LOG_LEVEL_MICRONAUT:INFO}
    org.thymeleaf: ${LOG_LEVEL_TEMPLATE:DEBUG}
#end::logging[]

